	
	
			/*modification on the nav aspect*/
	nav ul{
	padding:0em;
	margin:0em;
	list-style-type:none;
	background-color: black;
}
	nav li{
	display: inline-block;
	width: 7em;
	height: 2em;
	margin: 0em;
	padding: 0em;
	border-right: 0.2em solid #CCCCCC;
	text-align: center;
	line-height: 2em;
}
	nav li a {
	text-decoration: none;
	color:#FFFFFF;
}
	nav li :hover{
	background-color: #3388BB;
	font-size: 1em;
	font-style: italic;
	text-decoration: underline;
}
			/*modification of the title of the page*/
 	h1{
 	flex-direction: column-reverse;
 	flex-direction: row-reverse;
 	text-align: center;
 	color: red;
 	font-style: bold;
 	text-decoration: underline;
 }
						/*modification of the todolist*/
	div ul{
	list-style:none;
	margin-left:0;
	padding-left:0;
}

	.todolist{
	flex-direction: column-reverse;
	flex-direction: row-reverse;
	text-align: center;
	font-family: Verdana;
	font-size: 1.5em;
}
					/*modification of the adbutton*/
	.header{
	flex-direction: column-reverse;
	flex-direction: row-reverse;
	text-align: center;
	font-family: Verdana;
	font-size: 1em;
}